<footer class="bg-gray-900 text-white py-6 ">
  <div class="max-w-6xl mx-auto px-4 text-center">
    <p class="text-sm">&copy; {{ currentYear }} Nuran. All rights reserved.</p>
    <div class="mt-2 space-x-4">
      <!-- <a href="/" class="text-green-400 hover:underline">Services</a> -->
      <!-- <a href="/contact" class="text-green-400 hover:underline">Contact</a>
      <a href="/about" class="text-green-400 hover:underline">About</a>
      <a href="privacypolicy" class="text-green-400 hover:underline">Privacy Policy</a> -->
    </div>
  </div>
</footer>
